/*
*{
    border: 2px dotted black;
}
*/
body{
    margin: 40px auto;
    max-width: 650px;
    line-height: 1.6;
    font-size: 18px;
    color: #363636;
    padding: 0 10px;
    display:grid;
    grid-template-columns: 650px;
    grid-template-rows: 1fr 3fr 1fr;
    max-height:85vh;
    font-family: sans-serif;
}
body>header>h1>a{
    font-size: 50px;
    text-decoration: none;
    color:#363636;
}
body>header>h1,h2{
    text-align: center;
}
main a{
    font-size: 20px;
    text-decoration: none;
    color: #363636;
}
a:hover{
    color: #363636;
}
main a:hover{
    text-decoration: underline;
}
footer{
    font-size: 12px;
    text-align: center;
}